@define-mixin fading-overlay $bg-color {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $bg-color;
    opacity: 0;
    animation: hanging-fade-out 1.5s ease-in;
  }
}

@define-mixin clickable-bg $bg-color-1, $bg-color-2 {
  background-color: $bg-color-1;

  &:hover {
    background-color: color($bg-color-1 blend($bg-color-2 15%));
  }

  &:active {
    background-color: color($bg-color-1 blend($bg-color-2 30%));
  }
}

@define-mixin clickable-play-button $selector, $color, $hover-color, $active-color, $bg-color {
  cursor: pointer;

  $selector {
    position: relative;
    background-color: $color;
    border-radius: 50px;
    height: 24px;
    width: 24px;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 6px;
      left: 9px;
      border-style: solid;
      border-color: transparent transparent transparent $bg-color;
      border-width: 6px 6px 6px 10px;
    }
  }

  /* The hover and active states apply to the container, not the targetted selector. */
  &:hover {
    $selector {
      background-color: $hover-color;
    }
  }

  &:active {
    $selector {
      background-color: $active-color;
    }
  }

  &.disabled {
    cursor: default;

    &:hover, &:active {
      $selector {
        background-color: $color;
      }
    }
  }
}
