@import './_vars';

/**
 * The contents of `./main` should all be imported here and only here,
 * otherwise they will be duplicated at each import site.
 */
@import './main/_animations';
@import './main/_buttons';
@import './main/_type';

* {
	box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  color: $text-color;
  background-color: $bg-color;
  font-size: $font-size-base;
}

p {
  margin-top: 0;
}

#app-wrapper {
  height: 100%;
}

.page {
  flex: 1;
}

.game {
  height: 100%;
  min-height: 250px;
  display: flex;
  flex-direction: column;
}
